name: Activity

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Activity Script
        run: |
          python - <<EOF
          import random
          import os
          from datetime import datetime

          if random.random() < 0.0: 
              print("Skipping.")
              exit(0)

          file_path = os.path.join(os.getcwd(), "activity_log.txt")
          
          if not os.path.exists(file_path):
              with open(file_path, "w") as f:
                  f.write("Initial Log\n")

          timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
          with open(file_path, "a") as f:
              f.write(f"Confirmed update at {timestamp}\n")
          
          os.system('git config --global user.name "Ingo Stallknecht"')
          os.system('git config --global user.email "ingostallknecht@gmail.com"')
          os.system('git add activity_log.txt')
          
          os.system('git commit -m "maint: automated activity log update"')
          
          push_status = os.system('git push origin main')
          
          if push_status != 0:
              print("Push failed! Check Workflow Permissions in Repo Settings.")
          EOF
